<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>PhoneBook | Home</title>
    <style>
        main {
            font-size: 20px;
            line-height: 25px;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">
            <h1>PhoneBook</h1>
        </a>
        <div>
            <a href="/contacts">Contacts</a>
            <a href="/contact-form">Add Contact</a>
            <a href="/contact-logs">Logs</a>
        </div>
    </nav>
    <main>
        <h2 class="header">
            Welcome,
        </h2>
        <section>
            This is an app for storing contacts.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi consequuntur fugiat quos inventore sunt totam
            repudiandae repellat ullam tempora, magnam corporis magni delectus maxime nostrum! Molestias harum sit
            numquam doloribus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione odit, quo ea, ab ad laudantium inventore a
            nemo modi sit error! Aperiam dolores repellendus possimus, fugiat aspernatur perferendis modi minus.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum consectetur, laborum voluptates et
            exercitationem voluptatum voluptate officia eveniet? Totam ducimus labore incidunt, amet qui autem et quos
            consequatur perspiciatis minima?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima odit enim at eligendi eaque. Modi quisquam
            excepturi odit, sint temporibus ea, repellendus, odio labore alias animi blanditiis doloremque iure
            consequuntur.
        </section>
    </main>
    <footer>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>